CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_APP_REPRODUCIBLE_BUILD=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_PM_METER_VARIANT_PZEM004T_V4_CLASSIC=y
CONFIG_PM_HARDWARE_IDENTITY_VERIFIED=y
CONFIG_PM_PRODUCTION_RELEASE=y
CONFIG_PM_RELEASE_CANDIDATE=n
CONFIG_PM_SIMULATED_METER=n
CONFIG_PM_PZEM_LIVE_VALIDATION=n
CONFIG_NVS_ENCRYPTION=y
CONFIG_NVS_SEC_KEY_PROTECT_USING_HMAC=y
CONFIG_NVS_SEC_HMAC_EFUSE_KEY_ID=4
