CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_APP_REPRODUCIBLE_BUILD=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_PM_METER_VARIANT_PZEM004T_V4_CLASSIC=y
CONFIG_PM_HARDWARE_IDENTITY_VERIFIED=n
CONFIG_PM_RELEASE_CANDIDATE=y
CONFIG_PM_PRODUCTION_RELEASE=n
CONFIG_PM_SIMULATED_METER=n
