CONFIG_COMPILER_OPTIMIZATION_NONE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=y
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_PM_METER_VARIANT_UNSPECIFIED=y
CONFIG_PM_PRODUCTION_RELEASE=n
CONFIG_PM_RELEASE_CANDIDATE=n

